<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="globals.css" />
        <link rel="stylesheet" href="styleguide.css" />
        <link rel="stylesheet" href="style.css" />
    </head>
    <body>
        <div class="desktop-log-in">
            <div class="div">
                <div class="aside">
                    <div class="divider-vertical"><img class="line" src="img/line.svg" /></div>
                    <img class="media" src="img/media-3.png" />
                </div>
                <div class="container">
                    <div class="main">
                        <div class="form-login-default">
                            <div class="heading"><div class="title">Bienvenido</div></div>
                            <div class="form">
                                <div class="x-form-group">
                                    <div class="input-large">
                                        <div class="form-title-default"><div class="form-title">E-Mail</div></div>
                                        <div class="input">
                                            <div class="control-wrapper">
                                                <div class="control"><div class="text">Type your e-mail</div></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="x-form-group">
                                    <div class="input-large">
                                        <div class="form-title-default"><div class="form-title">Contraseña</div></div>
                                        <div class="input">
                                            <div class="control-wrapper">
                                                <div class="control"><div class="text">Type your password</div></div>
                                            </div>
                                        </div>
                                        <div class="form-help-text"><div class="text-wrapper">Forgot Password?</div></div>
                                    </div>
                                </div>
                            </div>
                            <button class="button"><div class="label">Iniciar sesión</div></button>
                            <div class="social">
                                <div class="delimiter">
                                    <img class="img" src="img/line-52.svg" />
                                    <p class="p">o hacerlo a través de otras cuentas</p>
                                    <img class="img" src="img/line-53.svg" />
                                </div>
                                <div class="frame-wrapper">
                                    <div class="frame">
                                        <div class="img-wrapper"><img class="search" src="img/search-1.svg" /></div>
                                        <div class="img-wrapper"><img class="vector" src="img/vector.svg" /></div>
                                        <div class="img-wrapper"><img class="vector-2" src="img/image.svg" /></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="LABEL-wrapper">
                            <p class="LABEL">
                                <span class="span">¿Ya tienes una cuenta? </span> <span class="text-wrapper-2">Iniciar sesión</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
